body {
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
}

h3, .h3, .button {
    color: #777;
    font-size: 20px;
}

.h3 {
    font-size: 25px;
    padding-top: 15px;
}

.modal-header h4 {
    font-size: 20px;
}

p {
    color: #777;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    border-color: black !important;
}

a:focus {
    text-decoration: none;
    border-color: #777 !important;
}

.centered {
    text-align: center;
}

.modal-header {
    border-bottom: none;
    text-align: center;
    padding-bottom: 0;
}

.modal-footer {
    border-top: none;
    text-align: center;
    padding-top: 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    margin: 10px;
}

.thumbnail img {
    height: 300px;
    width: 300px;
}

.modal-dialog {
    max-width: 400px;
}

.filters {
    text-align: center;
    font-size: 16px;
}

.checkbox {
    margin-top: 10px !important;
}

.logo {
    padding-top: 0px !important;
}
