body {
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
}

h3, .h3, .button {
    color: #777;
    font-size: 20px;
}

.h3 {
    font-size: 25px;
    padding-top: 15px;
}

p {
    color: #777;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    border-color: black !important;
}

a:focus {
    text-decoration: none;
    border-color: #777 !important;
}

.centered {
    text-align: center;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.read-more {
    font-size: 16px;
    color: #777;
    text-decoration: underline;
}

.read-more:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
